language: scala

services:
  - docker

before_install:
  # using jabba for custom jdk management
  - curl -sL https://raw.githubusercontent.com/shyiko/jabba/0.11.2/install.sh | bash && . ~/.jabba/jabba.sh
  - jabba install adopt@~1.11-0
  - jabba install adopt@~1.8-0

# default script for jobs, that do not have any specified
script:
  - jabba use ${JDK:=adopt@~1.8-0}
  - java -version
  - ${PRE_CMD:=true} && sbt -jvm-opts .jvmopts-travis "$CMD"

jobs:
  include:
#    - stage: whitesource
#      script: sbt whitesourceCheckPolicies whitesourceUpdate

    - stage: check
      script: sbt headerCheck || { echo "[error] Missing license headers found. Please run 'headerCreate' and commit the updated code."; false; }
      name: "Copyright header check"
    - script: sbt scalafmtCheck || { echo "[error] Unformatted code found. Please run 'Test/compile' and commit the reformatted code."; false; }
      name: "Code style check"
    - script: sbt scalafmtSbtCheck || { echo "[error] Unformatted sbt code found. Please run 'scalafmtSbt' and commit the reformatted code."; false; }
      name: "Build code style check"
    - env: CMD="+Test/compile"
    - stage: test
    - env:
      - CMD=docs/paradox
    - env:
      - CMD=root/doc
    - env:
      - PRE_CMD="./docker/setup_emulator.sh"
      - CMD=";test"
      name: "Run tests (AdoptOpenJDK 8)"
    - env:
      - PRE_CMD="./docker/setup_emulator.sh"
      - JDK="adopt@~1.11-0"
      - CMD=";test"
      name: "Run tests (AdoptOpenJDK 11)"

    - stage: publish
    - env:
      - JDK="adopt@~1.8-0"
      - CMD=";+publish"
      name: "Publish release"

stages:
  # runs on master commits and PRs
  - name: check
    if: NOT tag =~ ^v

  - name: test
    if: NOT tag =~ ^v

  # runs on main repo master commits and version-tagged commits
  - name: whitesource
    if: repo = akka/akka-persistence-spanner AND ( ( branch = master AND type = push ) OR tag =~ ^v )

  # runs on main repo master commits and version-tagged commits
  - name: publish
    if: repo = akka/akka-persistence-spanner AND tag =~ ^v

before_cache:
  - find $HOME/.ivy2/ -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt   -name "*.lock"               -print -delete

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot
    - $HOME/.jabba/jdk

env:
  global:
  # encrypt with: travis encrypt BINTRAY_USER=...
  - secure: 3YFYvsn3F0hemjV3qqLYxKTZhZn8ODAwNFJwwJ5awV+ChvBgMx0JCMNQRRE1wkYJfpQLt3Mrn+DdhC0jD8gCaoq5TkCo5yyV+vJQdvscAgzpGIh9Gm/6bdfNDnNftID6nIePXbSCrbvRNp+xcaTmQRGqVQozg/vmPVHFcOJ4pWfi6f6giDpj4kT1iQLRb+VxP7kp2Qw0vlK8arq5ciRvXZJidDJVn4/btwf2ytYIEuB5JWxEi072vesnBQwvXaxC92tPDlHYNG/sKo8lo2sxDNOfQy+9oUWUf2tBdbF9ttpx2xCCe1cYifmUq5U4V4xrZAm5QfG9WcT9dlLWyZFw4ICm9dK5GMm8+hG+2S/hJud/rZigtN3Xl5YZeB45RWrUAf+4EBaKneJwXFfZq7Q29NETRc9juOIhaX54n6PZ0KaOAV8hs2qYc058qwiF+BnuHvAKYCDLjzGV6nB+26JJl8HtCcWf3JIjuWHlxobWkgQjThEQ7JQwjPaRjNPsO7WPX3Eigj/0P6Cu4PP61cTPsHPDrVmmQysaSHX+Q88MNdAGiMyM8cnk1NeEByc+W+limTq/fVXx1utIEZfnVgGFw8nq9KKBmKXxhod92Gg7T77T5gF5zd9C2X1TkX5PWuHiDpEde2E65fHufCsg2fjAIzFS0dawK32GhIntVX88YqY=
  # encrypt with: travis encrypt BINTRAY_PASS=...
  - secure: Yd57zQbQIYT1ukLPcx6w1dAChY//aoiz+2YCWr82Ba+kYhg25xAJFJw8N4vWnLueX8raPtJp6X8j2ASS3yCUDUS3/mgwYkRZ95cyL0mmHreOCFAg4IoMpPHFhwOP9KLHbvNiU3e0BbWDoySmjnXv/0NlGmh+KEQOVhq1eR1OsL1kUeq726wJHQM4Anv/LNY1PE2nLcPck/V4njhdxfrYpVSVKsrBumbfc38xClpdWjVBLI/FYzNvPykkwzuJ6sXivstgNNiKMOAcklhB+e4Uch9eTx8YXdZcaFwnY8tFM1x+R2+TiKGS2KOlpBmL4dWPCxQUYAXCkH5a26NB0RxZ/JzkgwG18gWm8jLSZYJpbARdQotTmoN7c0rnZvKMKD9CD/3zxuPxobgMp1ZILGpMEfP5n1pTB+CTbO3MSYMVi0Khhzq0WHmHcjqg/qPrbfhuo1kppWl3EJG20KLH6NyE6ztnMukdjYBouHTTpplfWgaB0ZTOGcn8uStJveZNGmBBYx1KjDaNm2u+ZnP3hImQJT40swMn6rt6tZNDFPJkWrgg308mp9E880MZISeKnibY8m7UEBLz/S9dT01Exn9Ty49tb23NUnS/39w7Xvk8hAFPdFrZ5c+2VKFyV1n5C7cicxqNOH4N3GKf1p80NBfw1NOKxkMS6kKkwbTQD4YV+nM=
